<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.papyrus.bshairwebapp.bshairwebapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.papyrus.bshairwebapp.bshaerApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.papyrus.bshairwebapp.Ui.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.papyrus.bshairwebapp.Ui.NewsDetail"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.papyrus.bshairwebapp.Ui.CommentDetail"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.papyrus.bshairwebapp.Ui.CatActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.papyrus.bshairwebapp.Ui.SearchActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.papyrus.bshairwebapp.Ui.AboutUS"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_about_us"
            android:theme="@style/FullscreenTheme"></activity>


        <activity android:name="com.papyrus.bshairwebapp.Ui.SingleNewsFromPush"
            android:configChanges="orientation|screenSize"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4a453df463908b2235acc05282cdace47c9e4501" />

        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />
        <service
            android:name="com.papyrus.bshairwebapp.PushNotification.NotificationExtenderExample"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>


</manifest>